src/*.a
src/*.o
build/UnitRunner
build/UnitRunner.o
build/buildinfo.h
build/confdefs.h
build/config.cache
build/config.h
build/stamp.debug
build/stamp.bdlib
*.swp
Makefile
config.log
config.status
configure.lineno
src/.deps
build/.deps
src/tests/.deps/
src/tests/*.o
bdlib.kdev4
.kdev4/
