*.a
*.gcno
*.gcda
*.gcov
*.o
*.swp
.buildbot/
.dirstamp
.kdev4/
Makefile
UnitRunner
UnitRunner.log
UnitRunner.trs
autom4te.cache/
bdlib.kdev4
build/.deps
confdefs.h
config.cache
config.h
config.log
config.status
configure.lineno
src/.deps
src/cscope.in.out
src/cscope.out
src/cscope.po.out
src/stamp-h1
src/tests/.deps/
test-suite.log
