*.a
*.o
*.swp
.buildbot/
.dirstamp
.kdev4/
Makefile
UnitRunner
UnitRunner.trs
autom4te.cache/
bdlib.kdev4
build/.deps
confdefs.h
config.cache
config.h
config.log
config.status
configure.lineno
src/.deps
src/stamp-h1
src/tests/.deps/
